<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
<div th:replace="header :: header"></div>
<h3>Создать новый тур</h3>
<div class="create-container">
    <form th:action="@{/tour/create}" method="post" enctype="multipart/form-data" th:object="${tour}">
        <label for="country">Страна:</label>
        <input type="text" th:field="*{country}" id="country" >
        <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" style="color: red"></span>



        <label for="description">Описание:</label>
        <input type="text" th:field="*{description}" id="description" >
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></span>
        <label for="cost">Цена:</label>
        <input type="number" th:field="*{cost}" id="cost" >
        <span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" style="color: red"></span>
        Дата: <input type="datetime-local" name="date"/><br><br>
        <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" style="color: red"></span>
        фотография: <input type="file" name="file1"/><br><br>
        <input type="submit" value="Добавить тур"/>
    </form>
</div>
<div th:replace="footer :: footer" ></div>
</body>
</html>