body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Это важно для прижатия футера */
    margin: 0;
}


header {
    background-color: #154484;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для карточек товаров */
#popular-tours {
    display: flex;
    flex-wrap: wrap;
}

.tour {
    width: 45%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
}

/* Стили для страницы "О нас" */
#about {
    text-align: center;
    padding: 20px;
}

/* Стили для форм и кнопок */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="file"] {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.sig-in-container{
    width: 500px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Анимация появления и исчезновения модального окна */
.fade-in {
    animation: fadeIn 0.5s;
}

.fade-out {
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.create-container {

    width: 500px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10%;
}

/* Стили для футера */
footer {
    background-color: #154484;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.register-button{
    margin-top:20px;
}
.login-button{
    margin-top: 20px;
}
.container {
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Выравнивание по центру */
    padding: 20px; /* Добавление внутренних отступов */
    margin-bottom: 60px; /* Высота футера плюс небольшой отступ */
}
.link-header {
    color: white ; /* Убирает подчеркивание ссылок */
}
.logo-image {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 100px;
    height: 100px;
}
.card-img-top {
    width: 400px;
    height: 200px;
    object-fit: cover; /* Масштабирование изображения, чтобы оно занимало всю доступную область */
}
.card {
    max-width: 300px !important; /* Максимальная ширина карточки */
}
.all-product-page {
    border-radius: 10px;
    border-color:  #154484;
    border:solid;
    width: 200px;
    display: inline-block;
    padding: 10px;
    color:  #154484;
    text-align: center;
    text-decoration: none;
}

.all-product-page:hover {
    background-color:  #154484;
    color: white;

}
.btn-primary {
    margin-left: 30%;
}

.link-header:hover {
    color: #FFD700;
}
/* Стили для добавления границы и изображения к каждому пункту */
.step {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.step img {
    width:300px;
    height: 300px;
    margin-left: 30%;
}
.tour-image {

    height: 200px;
}
.exite-button{
    font-family: Arial, sans-serif;
    transition: color 0.3s;
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.icon-profile {
    margin-right: 5px; /* Добавьте отступ справа, чтобы разделить иконку и текст */
}

.container-all {
    margin-left: 25%;
    display: flex;
    height: 100vh; /* Сделать контейнер высотой по высоте экрана */
    background-color: #f0f0f0; /* Сероватый фон */
    border: 1px solid #ddd; /* Граница для трехмерного эффекта */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень для 3D-эффекта */
    padding: 20px; /* Отступы внутри контейнера */
    max-width: 600px; /* Максимальная ширина контейнера */
    flex-wrap: wrap; /* Перенос элементов на следующую строку при нехватке места */
    justify-content: space-between;
}
.tour {
    width: calc(33.33% - 10px); /* 33.33% ширины с отступом между элементами */
    margin-bottom: 20px; /* Отступ между строками */
    padding: 10px; /* Внутренний отступ для блока тура */
    border: 1px solid #ddd; /* Граница для разграничения элементов */
    border-radius: 5px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень для 3D-эффекта */
}

/* Стиль для страны */
.tour-country {
    text-decoration: none;
    color: #333; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    margin: 10px 0; /* Верхний и нижний отступы для элементов */
}

/* Стиль для описания */
.tour-description {
    text-decoration: none;
    color: #666; /* Цвет текста */
    margin: 10px 0; /* Верхний и нижний отступы для элементов */
}

/* Стиль для стоимости */
.tour-cost {
    text-decoration: none;
    color: #f00; /* Красный цвет текста */
    font-weight: bold; /* Жирный шрифт */
    margin: 10px 0; /* Верхний и нижний отступы для элементов */
}